.hero-container {
  position: relative;
  overflow: hidden;
}

.hero-img-container {
  position: relative !important;
}

.section-title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 50;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: bold;
}

.hero-img {
  position: relative !important;
  top: 0;
}

/* .features-container {
  width: 1200px;
  margin: 0 auto;
} */

.accessories-img-container {
  position: relative;
}

.mens-img-container {
  position: relative;
}

.archive-img-container {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .section-title {
    display: none;
  }

  .archive-img-container {
    max-width: 455px;
  }
}


@media only screen and (min-width: 992px) {
  .hero-container {
    overflow: hidden;
  }

  .archive-img-container {
    min-height: 100px;
  }

  .archive-img-container img {
    min-width: 670px;
    height: 1190px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}