.hero-container {
    position: relative;
}

.hero-img-container {
    position: relative !important;
    height: auto;
}

.section-title {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 50;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: bold;
}

.hero-img {
    position: relative !important;
    top: 0;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
}

.accessories-img-container {
    position: relative;
}

.mens-img-container {
    position: relative;
}

.archive-img-container {
    position: relative;
}