.color-selection > img {
    width: 55px;
    padding-right: 15px;
}

.product-title {
    font-size: 14px;
}

.product-price {
    font-size: 14px;
}

.add-cart-btn {
    background: black;
    text-transform: uppercase;
    color: white;
    font-size: 14px !important;
}

.sizes-container {
    font-size: 14px;
    font-weight: bold;
    position: relative;
    margin-top: 13px;
}

.sizes-container button {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid #C5C5C5;
    padding: 10px;
    background: transparent;
    vertical-align: center;
    font-weight: bold;
    margin-right: 5px;
}



.sizes-container button:hover {
    border: 1px solid black;
}
.sizes-container button:active {
    border: 1px solid black;
}

.sizes-container button:visited {
    border: 1px solid black;
}

.product-load {
    margin-top: 150px;
    margin-bottom: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
