.color-selection > img {
  width: 55px;
  padding-right: 15px;
}

.product-title {
  font-size: 14px;
}

.product-price {
  font-size: 14px;
  margin: 7px 0 !important;
  padding: 10px 0 !important;
}

.add-cart-btn {
  background: black;
  text-transform: uppercase;
  color: white;
  font-size: 14px !important;
  padding: 15px 0 !important;
}

.sizes-container {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  margin-top: 13px;
}

.sizes-container button {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid #c5c5c5;
  padding: 10px;
  background: transparent;
  vertical-align: center;
  font-weight: bold;
  margin-right: 5px;
  margin-bottom: 5px;
  outline: none;
}

#size-clicked {
  border: 1.5px solid black;
  outline: none;
}

.sizes-container button:hover {
  border: 1px solid black;
}

.sizes-container button:focus {
  border: 1px solid black;
}

.sizes-container button:visited {
  border: 1px solid black;
}

.product-load {
  margin-top: 150px;
  margin-bottom: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 320px) {
  .sizes-container button {
    height: 45px;
    width: 45px;
  }
}

@media only screen and (min-width: 992px) {
  .product-title {
    font-size: 12px;
  }

  .product-price {
    font-size: 12px;
    margin: 0 !important;
    padding: 0 !important;
  }

  .sizes-container button {
    height: 40px;
    width: 40px;
    padding: 5px;
  }

  .add-cart-btn {
    padding: 10px 0 !important;
    font-size: 12px !important;
    font-weight: bold !important;
  }

  .product-description {
    margin-top: 30px;
    font-size: 12px;
  }

  .product-title {
    margin-top: 80px;
  }

  .product-price {
    font-size: 14px;
    margin: 5px 0 !important;
    padding: 0px 0px 10px 0 !important;
  }
}
